.scores{
    text-align: center;
    background-color: rgb(255, 248, 189);
    max-width: 600px;
    margin: auto;
    border: solid goldenrod 2px; 
}

.roundup{
    text-align: center;
    color: blue;
    background-color: cornflowerblue;
    max-width: 500px;
    margin: auto;
}

.bts{
    display: flex; 
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: turquoise;
    max-width: 700px;
    margin: auto;
    border: solid rgb(7, 15, 90) .5px; 
}

.bts img {
    height: auto;
    text-align: center;
    display: flex; 
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px; 
  }

.btn {
background-color: rgb(158, 145, 145);
color: white;
font-size: 10px;
padding: 12px 24px;
border: none;
cursor: pointer;
border-radius: 5px;
text-align: center;
display: flex; 
justify-content: center;
border: solid rgb(6, 8, 126) .5px; 
}


#results{
    text-align: center;
}

.content{
    text-align: center;
}

#scores{
    color: rgb(2, 2, 85); 
}

#rock:hover{
    background-color: teal;
}

#paper:hover{
    background-color: teal;
}

#scissors:hover{
    background-color: teal; 
}