.scores{
    color: blue;
    background-color: cornflowerblue;
    text-align: center;
    
}

.roundup{
    text-align: center;
}

.bts{
    display: flex; 
    position: relative;
    justify-content: center;
    align-items: center;
}

.bts img {
    height: auto;
    text-align: center;
    display: flex; 
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px; 
  }

.btn {
background-color: #555;
color: white;
font-size: 10px;
padding: 12px 24px;
border: none;
cursor: pointer;
border-radius: 5px;
text-align: center;
display: flex; 
justify-content: center;
}

#results{
    text-align: center;
}

.content{
    text-align: center;
}